<header>
        {{> navigation}}
        <h1>Cat Shelter</h1>
        <form action="", method="">
            <input type="text" name="breed">
            <button type="submit">Search</button>
        </form>
    </header>

    <main>
        <section class="cats">
            <ul>
                {{#each cats}}
                    {{> cat}}
                {{/each}}
            </ul>
        </section>
    </main>
