<header>
        <form action="", method="">
            <input type="text" name="breed">
            <button type="submit">Search</button>
        </form>
        {{#if user}}
        <article>
            <h2 id="addBreedHeader">Maybe you've learned about a new cat breed?</h2>
             <a href="/add/breed" id="addBreedBtn">Add to existing catalogue?   <img id="penAndPaper" src="../../static/images/pen-and-paper.svg"></a>
        </article>
        {{/if}}
    </header>

    <main>
        <section class="cats">
            <ul>
                {{#each cats}}
                    {{> cat}}
                {{/each}}
            </ul>
        </section>
    </main>
