    <main>
        <form action="/register" method="POST" class="cat-form" enctype="multipart/form-data">
            <h2>Register into Cat Shelter</h2>
            <label for="username">Username</label>
            <input name="username" type="text" id="username">
             <label for="email">Email</label>
            <input name="email" type="text" id="email">
             <label for="password">Password</label>
            <input name="password" type="password" id="password">
            <label for="rePass">Repeat Password</label>
            <input name="rePass" type="password" id="rePass">
            <button type="submit">Register</button>
        </form>
    </main>